.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
}
.page-header>div>div, .page-header>div>ul {
    display:inline-block;
}
.text-edit {
    padding: 13px 0 0 0;
}
.account {
    text-align:right;
}
.account>div, .account>ul {
    text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.content {
    margin:45px 0 50px;
    width:100%
}
/*footer*/
 footer {
    position:fixed;
    bottom: 0;
    width:100%;
    background:#008cba;
    z-index: 2;
}
footer p {
    color: #fff;
    padding:5px 20px;
    margin: 0;
}
footer p a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}
/*admin-menu*/
 .admin-menu {
    z-index: 1;
}

/*main*/
.contentMain{
    margin-top: 60px;
}