/*img*/
 header img {
    width: 100%;
    height: auto;
}
/*title*/
 .title {
    position: absolute;
    width: 100%;
    height: auto;
    top: 45px;
    left: 0;
    margin: 0;
}
header.title .links {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.title .links h1 {
    font-family: Arial, sans-serif;
    font-weight: 100;
    white-space: nowrap;
    display: block;
    position: relative;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 60px;
    line-height: 2;
    height: 160px;
    letter-spacing: 0.1em;
    padding-left: 0.1em;
    /* To account for letter spacing */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title .links h1 a {
    cursor: default;
    pointer-events: none;
    color: #428bca;
    text-decoration: none;
    display: block;
}
.title .links h1 a span {
    font-weight: bold;
}
@media (max-width: 330px) {
    .title .links h1 {
        font-size: 16px;
    }
}
@media (max-width: 1450px) {
    .title .links h1 {
        font-size: 60px;
    }
}
@media (max-width: 1024px) {
    .title .links h1 {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .title .links h1 {
        font-size: 25px;
        height: 120px;
    }
    .title .links h1 br {
        display: block;
    }
    .title .links h1 {
        font-weight: 300;
    }
}
/*news*/
 aside {
    margin-top: 340px;
    height: 200px;
    padding: 10px;
}
aside ul {
    display: block;
    list-style: none;
    font-size: 1.5em;
}
aside ul li {
    display: list-item;
    position: relative;
    min-height: 200px;
    float: left;
}
aside ul li:nth-child(1) {
    width: 24%;
    background-color: #ACFF45;
}
aside ul li:nth-child(2) {
    width: 24%;
    background-color: #E8AC1D;
}
aside ul li:nth-child(3) {
    width: 24%;
    background-color: #FF4B2D;
}
aside ul li:nth-child(4) {
    width: 24%;
    background-color: #A31DE8;
}
aside ul li:nth-child(5) {
    width: 4%;
    text-align: center;
    line-height: 200px;
    background-color: #A31DE8;
}
aside ul li:not(.newsLast) a {
    display: block;
    margin: 5px;
    background: #fff;
    padding: 8px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/*find our place*/
 .baiduImg {
    margin: 10px auto;
    width: 600px;
    height: auto;
    text-align: center;
}
.center-block {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
