<div>
    <p>
        友情连接: <a href="http://www.cumt.edu.cn/">中国矿业大学</a> | <a href="http://online.cumt.edu.cn/">学生在线</a> | <a href="http://jwchu.cumt.edu.cn/DWWZ/DWWZQianTai/JWS/Index.aspx">教务部</a>&nbsp;&nbsp;&nbsp;&nbsp;Copyright &#x00A9; 2013-2014 <a href="http://www.freelearnroom.com" target="_self">freelearnroom</a> | Designed By <a href="https://github.com/FLRoom" target="_blank">FLRoom</a> | <a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备13044219号-1</a>
    </p>
    <a class="toTop" href=""><i class="glyphicon glyphicon-arrow-up"></i></a>
</div>
